body {
  background-color: beige;
}

h1 {
  color: cornflowerblue;
  transition: color.5s ease-in-out;
}

h2 {
  color: black;
  text-align: center;
}

.clicked {
  color: tomato;
}

.hidden {
  display: none;
}
